# This is a sample build configuration for Rust.
# Check our guides at https://confluence.atlassian.com/x/5Q4SMw for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: rust:1.23

pipelines:
  default:
    - step:
        script: # Modify the commands below to build your repository.
          - cargo build -v
          - cargo test -v